name: GitHub-Profile-Summary-Cards

on:
    schedule: # execute every 24 hours
        - cron: "* */24 * * *"
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        name: generate-github-profile-summary-cards
        permissions:
            contents: write

        steps:
            - uses: actions/checkout@v4
            - uses: vn7n24fzkq/github-profile-summary-cards@release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  USERNAME: ${{ github.repository_owner }}
                  AUTO_PUSH: false

            - name: Push new cards
              run: |
                  git config --global user.name 'github-actions[bot]'
                  git config --global user.email 'github-actions[bot]@users.noreply.github.com'
                  git add profile-summary-card-output
                  # Check if there are changes
                  if git diff --staged --quiet; then
                    print('No changes to commit')
                  else
                    git commit -m "chore: update profile summary cards"
                    git pull --rebase
                    git push
                  fi
