name: GitHub-Profile-Summary-Cards

on:
  schedule: # execute every 24 hours
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-summary-cards
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
      - uses: vn7n24fzkq/github-profile-summary-cards@release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          USERNAME: ${{ github.repository_owner }}
          AUTO_PUSH: false

      - name: Translate to Chinese
        run: |
          # Iterate over all theme folders
          find profile-summary-card-output -type f -name "*.svg" -print0 | xargs -0 sed -i 's/Contributions on GitHub/GitHub 贡献/g'
          find profile-summary-card-output -type f -name "*.svg" -print0 | xargs -0 sed -i 's/Public Repos/公开仓库/g'
          find profile-summary-card-output -type f -name "*.svg" -print0 | xargs -0 sed -i 's/Joined GitHub/加入 GitHub/g'
          find profile-summary-card-output -type f -name "*.svg" -print0 | xargs -0 sed -i 's/years ago/年/g'
          find profile-summary-card-output -type f -name "*.svg" -print0 | xargs -0 sed -i 's/contributions in the last year/过去一年的贡献/g'

          find profile-summary-card-output -type f -name "*.svg" -print0 | xargs -0 sed -i 's/>Stats</>统计数据</g'
          find profile-summary-card-output -type f -name "*.svg" -print0 | xargs -0 sed -i 's/Total Stars:/Stars 总数:/g'
          find profile-summary-card-output -type f -name "*.svg" -print0 | xargs -0 sed -i 's/Total Commits:/提交总数:/g'
          find profile-summary-card-output -type f -name "*.svg" -print0 | xargs -0 sed -i 's/Total PRs:/PR 总数:/g'
          find profile-summary-card-output -type f -name "*.svg" -print0 | xargs -0 sed -i 's/Total Issues:/Issues 总数:/g'
          find profile-summary-card-output -type f -name "*.svg" -print0 | xargs -0 sed -i 's/Contributed to:/参与项目:/g'

          find profile-summary-card-output -type f -name "*.svg" -print0 | xargs -0 sed -i 's/Top Languages by Commit/常用语言 (按提交)/g'
          find profile-summary-card-output -type f -name "*.svg" -print0 | xargs -0 sed -i 's/Top Languages by Repo/常用语言 (按仓库)/g'
          find profile-summary-card-output -type f -name "*.svg" -print0 | xargs -0 sed -i 's/Commits (UTC +0.00)/提交活跃时间分布 (UTC)/g'
          find profile-summary-card-output -type f -name "*.svg" -print0 | xargs -0 sed -i 's/per day hour/每小时平均提交/g'

      - name: Push new cards
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add profile-summary-card-output
          # Check if there are changes
          if git diff --staged --quiet; then
            echo "No changes to commit"
          else
            git commit -m "chore: update profile summary cards"
            git pull --rebase
            git push
          fi
